<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
          <div class="row">
            <% if(edit) { %>  
                <div class="alert alert-success d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                  <div>
                    Edit Successfully!
                  </div>
                </div>
              <% } %>
          </div>  

            <div class="text-center">
                <h2>Patient Details</h2>
            </div>
            <div class="row justify-content-center"> 
              <div class="col-md-6">
                <form action="/patient" method="post">
                  <input type="hidden" value="<%= p.id %>" name="id">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control" name="name" value="<%= p.name %>"/>
                          <label class="form-label" for="form6Example1">Name</label>  
                        </div>
                      </div>
                    </div>
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="date" id="form6Example3" class="form-control" name="birth" value="<%= p.birth %>"/>
                      <label class="form-label" for="form6Example3">Birthday</label>
                    </div>
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example4" class="form-control" name="disease" value="<%= p.disease %>"/>
                      <label class="form-label" for="form6Example4">Disease</label>
                    </div>
                  
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="time" id="form6Example6" class="form-control" name="time"  value="<%= p.time %>">
                      <label class="form-label" for="form6Example6">Time Hospitalize</label>
                    </div>
                  
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                      <label class="form-label" for="form6Example7">Social Insurance</label>
                    </div>


                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Done</button>
                  </form>
              </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>